section#speakers-section.speakers-section

  h4.section-titles Oradores

  .section-titles__underlines

  .speakers

    for speaker in public._data.index.speakers


      .speakers__item

        a.speakers__image-wrapper(href="#{speaker.drupal}" target="_blank")
          .speakers__image
            img(src="/images/speakers/#{speaker.image}")
          span.drupalday-druplicon

        a.speakers__name(href="#{speaker.drupal}" target="_blank") #{speaker.name}

        a.speakers__company(href="#{speaker.companyUrl}" target="_blank") #{speaker.company}